html, body {height: 100%; width: 100%; margin: 0;}
#background { position: fixed; width: 100%; height: 100%; z-index: -2; background: linear-gradient(#000, #000, #333, #aaa); }
.navbar {background-color: #ECC833; border-color: #ECC833; width: 100%; border-radius: 0;}
#asui {position: absolute; bottom: 10px;}
#frm {width: 30%; margin-right: 5%; float: right; margin-top: 2em; background: rgba(250,235,210,0.3); border-radius: 5px;}
#frm form {margin: 1.5em 1em;}
#frm input {width: 100%; margin-bottom: 0.5em;}
#frm .name {width: calc(50% - 0.15em); display: inline-block;}
#frm .btn {width: 50%; border-radius: 10px; margin-left: 25%; margin-top: 0.5em}
#btn-lgn {background: rgba(0,0,0,0); border: none; color: #ed1;}
#login {margin-top: 1.5em;}
.login {position: relative; top: 75%; display: inline-block; width: 40%;}
#wpost textarea {width: 50%; margin-left:25%;}
#pp {width: 10em; height: 10em; margin-left: calc(50% - 5em);}
#wp {text-align: center; font-size: 1.6em;}
#rpost {background-color: #f0e9cc; width: 50%; margin-left: 25%; padding: 0.90em; border-radius: 3px;}
#rcomment {background-color: #f0e990; width: 48%; margin-left: 26%; padding: 0 0 .90em 0;}
#rpost p {font-size: 1.10em;}
#rcomment p {font-size: 1.06em;}